# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Logs and temporary files
*.log
*.tmp
*.bak

# Downloads folder
downloads/

# Cookies file
cookiex.txt

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
